*{
    margin: 0;
    padding: 0;
    
}

.conteiner{
    width: 960px;
    margin: auto;
}
img{
    max-width: 100%;
}
.navbar{
    overflow: hidden;
    background-color: aquamarine;
}
.logo{
    width: 10%;
    float: left;
}
.mainnemu{
    width: 90%;
    float: right;
}
.mainnemu ul{
    list-style: none;
}
.mainnemu ul li{
    float: left;
}
.mainnemu ul li a{
    display: block;
    padding: 20px 50px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.mainnemu ul li a:hover{
    background-color: tomato;
    color: black;
}

/* Futar  */
.boxWraper{
    background-color: blanchedalmond;
    display: block;
    overflow: hidden;
  
  
}
.box{
    width: 30%;
    float: left;
   box-sizing: border-box;
   margin: 5px;
   

}
.box a{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    display: block;
    margin: 0 0;
    width: 50%;
   
    
   
}

.box a:hover{
    background-color: grey;
    color: white;
}
.box h2{
    color: green;
    padding-bottom: 10px;
}